#
#    fty-alert-flexible - agent for creating evaluating alerts
#
#    Copyright (C) 2016 - 2017 Tomas Halman
#    Copyright (C) 2017 - 2020 Eaton
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

Source: fty-alert-flexible
Section: net
Priority: optional
Maintainer: fty-alert-flexible Developers <eatonipcopensource@eaton.com>
Standards-Version: 4.0.1.0
Build-Depends: debhelper (>= 9),
    cmake (>=3.0),
    fty-cmake-dev,
    liblua5.1-0-dev (>= 5.1.0),
    libczmq-dev (>= 3.0.2),
    libmlm-dev (>= 1.0.0),
    libfty-shm-dev,
    libfty-proto-dev,
    libfty-common-dev,
    libfty-common-logging-dev,
    libfty-common-mlm-dev

Package: fty-alert-flexible
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: runnable binaries from fty-alert-flexible
 Main package for fty-alert-flexible:
 agent for creating evaluating alerts
